.body {
    background-image: url("../images/backgroundHomepage.png");
    background-size: cover;
    background-color: rgb(54, 193, 228);
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}