.body {
    background-image: url("../images/newBackground.png");
    background-size: cover;
    background-color: rgb(54, 193, 228);
    max-width: 1500px;
    max-height: 100%;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    
}