.body {
    background-image: url("../images/newBackground.png");
    background-size: contain;
    background-color: rgb(54, 193, 228);
    max-width: 1500px;
    max-height: 100%;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

.dark {
    background-image: url("../images/newBackground2.png");
}