.navigation {
    margin-top: 50px;
    border-bottom: 5px solid black;
    padding: 40px;
}
.navigation__list {
    display: flex;
    color: #000;
    list-style-type: none;
    padding: 20px;
}

.navigation__link {
    display: inline;
    padding: 20px;
    background-color: hsl(180, 49%, 60%);
    border-radius: 40%;
    margin: auto;
}

.navigation__link:visited {
    background-color: hsl(180, 49%, 40%);
}

.navigation__link:hover {
    background-color: antiquewhite;
}
